# Ignore temporary files by giving them a special name
*.ignore
*.ignore.*
ignore.*

# Ignore sensitive files
.env
.npmrc
*.local

# Ignore transpiled source (used for advanced debugging)
.transpiled

# Ignore any external scripts
external-scripts/bin

# Ignore build artifacts
*.tsbuildinfo
dist
build
.vercel
.next
next-env.d.ts
coverage

# Ignore local configuration
.vscode
!.vscode/launch.example.json

# Ignore node_modules
node_modules

# Ignore random nothingness
.DS_Store
