# Paths below are ignored by prettier as well as remark and doctoc when called
# with npm run format)
build
external-scripts/bin
node_modules
dist
coverage
package-lock.json
fixtures
docs
CHANGELOG.md
bundle-stats.ignore.json
test/integration/assets/output-1.js
