name: is-next-compat

# ! If you want to use this workflow, the following secrets must be defined:
# ! - MONGODB_URI
# ! - GH_TOKEN

on:
  workflow_dispatch: # * Treated like a scheduled run
  schedule:
    - cron: '0 12 */1 * *'

env:
  # * Selectively enable debugger verbose output in the pipeline
  # ? See also: https://www.npmjs.com/package/debug#wildcards
  DEBUG: 'next-test-api-route-handler:*'
  NODE_CURRENT_VERSION: 15.x

jobs:
  check-compat:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Report DEBUG mode status
        run: |
          if ! [ -z "$DEBUG" ]; then
            echo 'PIPELINE IS RUNNING IN DEBUG MODE!'
          else
            echo '(pipeline is not running in debug mode)'
          fi

      - name: Checkout
        uses: actions/checkout@v2.3.4

      - name: Use node ${{ env.NODE_CURRENT_VERSION }}
        uses: actions/setup-node@v2.4.0
        with:
          node-version: ${{ env.NODE_CURRENT_VERSION }}

      # - name: Cache npm
      #   uses: actions/cache@v2.1.6
      #   id: cache-npm
      #   with:
      #     # ? Use the number (currently 1) to cache bust borked GitHub Actions
      #     key: npm-2-${{ runner.os }}-${{ hashFiles('**/package-lock.json') }}
      #     path: ~/.npm
      #     restore-keys: npm-2-${{ runner.os }}-

      - name: Install CI dependencies
        run: |
          npm ci
          npm --version

      - name: Build distributables
        run: npm run build-dist

      - name: Build externals
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          MONGODB_URI: ${{ secrets.MONGODB_URI }}
        run: npm run build-externals

      - name: Run is-next-compat
        run: node external-scripts/bin/is-next-compat.js
